@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.LOGO {
  max-width: 100px; 
  max-height: 100px; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px; 
    line-height: 64px; 
    color:#222;
}

h2 {
    font-size: 46px; 
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  margin-top: 15px;
}

button.normal:hover {
  background-color: gray; 
}

body {
  width: 100%;
}

/*HEADER START*/

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #f3e3ea;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:sticky;
  top: 0;
  left: 0;
  width: 100vw;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: realtive;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  transition: 0.3s ease;
}

#navbar li a:hover { 
  color: #8d0865;
}

#navbar li a:hover,
#navbar li a.active {
  color: #cc008f;
}

/* HOME PAGE */

#hero {
  height: 100vh;
  width: 100%;
  background-image: url("Pictures/GLUPSI4.png");
  background-size: auto 100%;
  background-position: 80%;
  margin-top: -30px;
  margin-left: 90px;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 2px; 
}

#hero h2 {
  padding-bottom: 15px;
  color: #222;
}

/*Dio koda uredjuje dugme - look at the offer*/
#hero button { 
  background-color: transparent;
  color: #222;
  border: 2px solid #222; 
  border-radius: 20px;
  padding: 11px 70px 11px 70px; 
}

#hero button:hover {
  background-color: #f7eef2;
}

/*FEATURED SNEAKERS PAGE*/

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 {
  text-align: center;
}
#product1 .pro{ 
  width: 23%;
  min-width: 2px;
  padding: 10px 12px;
  border: 0px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0px;
  transition: 0.02;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
  width: 100%;
  border-radius: 1px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
} 

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f3e3ea;
  font-weight: 500;
  border: 1px solid #8d0865;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*BANER PAGE*/

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(Pictures/POKUSAJOVAJ.png);
  width: 100%;
  height: 50vh;
  background-position: bottom;
}

#banner h4{
  color: #000000;
  font-size: 16px;
}

#banner h2 span{
  color: #9a0000;
}

#banner button:hover{
  background-color: #ffffff;
  color: #000000;
}

/*NEWSLETTER*/

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-position: 20% 30%;
  background-color: #f7eef2;
}

#newsletter p span{
  color:  #9a0000; 
}

#newsletter .form{
  display: flex;
  align-items: center;
  width: 30%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 2em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
}

#newsletter button {
  height: 3.125rem; /*visina elementa postavljena na 3.125 puta veliÄinu fonta korijenskog elementa*/
  background-color: black;
  margin-top: 0px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0;
  border-top-left-radius: 0;
}

#newsletter button:hover{
  background-color: #4b4b4b;
  transition: 0.3s;
}

/*FOOTER PAGE*/

/* UREDJIVANJE IKONICA ZA APPLIKACIJE TWWITER I TE STVARI*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.section-p1 .col {
  margin-bottom: 20px;
  line-height: 2;
  text-decoration: none;  
  color: #000000; 
}

.section-p1 .follow {
  margin-top: 20px;
}


.install img {
  max-width: 200px; /*velicina slike za skidanje app */
  margin-right: 10px; 
}

.row {
  display: flex; 
}


/*TEKST U FOOTERU*/

footer {
  background-color: #161616;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .LOGO {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 17px;
  padding-bottom: 20px;  
  color: rgb(228, 228, 228);
  margin-left: 13px;
}

footer p {
  font-size: 14px;
  margin: 0 0 10px 0px;
  color: rgb(228, 228, 228); /*OVO JE BOJA aragrafa Phone, Hours*/
  margin-left: 13px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(228, 228, 228);
  padding-bottom: 10px;
  margin-left: 13px;
}

.footer .follow .icon a {
  margin-top: 20px;
  color: white;
  padding-right: 4px;
  cursor: pointer;
  margin-left: 13px;
}

footer .install .row img{
  display: flex;
  margin-left: 4px;
}

footer .follow {
  display: flex;
}

/*OVDJE MIJENJAM BOJU KADA SE PRELAZI KURSOM ZA FOOTER -> STAVILA SAM U SLICNU BOJU U KOJOJ JE NEWSLETTER, malo tamniju, cisto da se vidi razlika*/
footer .follow i:hover, footer a:hover{
  color: #e7b6cb;
}

/*SHOP PAGE*/
#page-header{
  background-image: url("Pictures/BANERGLUPAN.png");
  width: 100%;
  height: 45vh;
  margin-left: 0px;
  margin-top: 0px;

  background-position: center top;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h1, #page-header p{
  color: #f3e3ea;
}

#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #282828;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/*SINGLE PRODUCT*/

#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  margin-top: 7px;
  flex-basis: 23%;
  cursor: pointer;
  transition: 0.3s;
}

#prodetails .single-pro-details{
  width: 50%;
  padding: 30px;
}

#prodetails .single-pro-details h2{
  padding: 26px ;
}

#prodetails .single-pro-details h4{
  display: block;
  padding: 15px 20px 10px 0;
  margin-bottom: 10px; 
}

#prodetails .single-pro-details h6{
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h3{
  padding: 5px 0 20px 0;
}

#prodatails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodatails .single-pro-details button{
  background: #000000;
  color: #ffffff;
}

#prodatails .single-pro-details input:focus{
outline: none  ;
}

#prodatails .single-pro-details span{
  line-height: 25px;
}

.select-size {
  width: 20%; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

.select-size option {
  color: #000; 
}

.select-quantity {
  width: 60px;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

.select-quantity option {
  color: #000;
}

button.odvoji {
  margin-top: 30px;
}

.page-ispod-headera{
  margin-top: 50px;
}


/*ABOUT PAGE*/

#page-header-cart {
    background-image: url("Pictures/BANNERRZACART.png");
    width: 100%;
    height: 45vh;
    margin-left: 0px;
    margin-top: 0px;
  
    background-position: center top;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }


#page-header-aboutMe h1{
  margin-top: 100px;
  margin-left: 87px;
  color: rgb(39, 39, 39);
}

#page-ispod-headera h5{
  font-weight: normal;
  margin-top: 70px;
  margin-left:150px;
  margin-bottom: 100px;
  color: rgb(39, 39, 39);
}

/*CART PAGE*/

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 80px;
}

#cart table td:nth-child(1){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6 ) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #f7eef2;
  border-left: none;
  border-radius: none;
}


#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table body tr td{
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #f7eef2
}

#coupon button,
#subtotal button{
  background-color: #000;
  color: white;
  padding: 12px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #f7eef2;
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid #f7eef2;
  padding: 10px;
  font-size: 13px;
}


/*PROFILE SECTION*/

#profile-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  height: 65vh; 
  margin-top: 100px; 
  margin-left: 500px; 
  margin-right: 500px; 
  margin-bottom: 100px;
  padding: 100px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  font-weight: 350;
}

.Profile-settings,
.Name,
.Surname,
.Address,
.PostCode,
.Country,
.Number,
.Email {
  display: flex;
  align-items: center;
  width: calc(100% - 20px); /* sirina svih elemenata smanjena za padding od 10px sa svake strane */
  margin-bottom: 25px; 
  margin-left: 12px;
}

.button{
  margin-left: 20vh;
  cursor: pointer;
}
.labels {
  min-width: 100px;
}

.form-control {
  flex: 1; 
  padding: 5px;
  margin-left: 20px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.normal {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.normal:hover {
  background-color: #555;
}

/*Button za success*/
.successMessage {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #78d07b;
  color: white;
  padding: 20px;
  border-radius: 5px;
}