<!DOCTYPE html>
<html lang="en">

<body>
  <!--PHOTO AND TITLE SECTION-->

  <section id="page-header-cart" class="about-header">
    <h1>shop now!</h1>
    <p>Buy smart</p>
  </section>

  <!--"TABLE WITH ITEMS" SECTION-->

  <section id="cart" class="section-p1">
    <table width="100%">
      <thead>
        <tr>
          <td>Image</td>
          <td>Product</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>Subtotal</td>
        </tr>
      </thead>
      <tbody id="cart-container"></tbody>
    </table>
  </section>

  <!--CART TOTAL SECTION-->
  
  <section id="cart-add" class="section-p1">
    <div id="subtotal">
      <h3>Cart Totals</h3>
      <table>
        <tr>
          <td>Cart Subtotal</td>
          <td>$ </td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>Free</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>$ </strong></td>
        </tr>
      </table>
      <div class="cart-button" onclick="window.location.href='#registration'">
        Buy
      </div>
    </div>
  </section>
</body>

</html>