<!DOCTYPE html>
<html lang="en">

<body>

  <!--HERO SECTION-->

  <section id="hero">
    <h1>Welcome to Elles!</h1>
    <h2>Your go-to for the latest <br>shoe trends</h2>
    <a href="#shop"><button class="normal">Look at the offer</button></a>
  </section>

  <!--FEATURED SNEAKERS SECTION-->

  <section id="product1" class="section-p1">
    <h2>Featured sneakers</h2>
    <p>New collection</p>
    <div class="pro-container" id="pro-container"></div>
  </section>

  <!--BANER PSECTIONAGE-->
  <section id="banner" class=".section-m1">
    <h2>The <span>most modern</span> sneakers on the market</h2>
    <a href="#shop"><button class="normal">Look at the offer</button></a>
  </section>
</body>

</html>