<!DOCTYPE html>
<html lang="en">

<body>
  <!--IMAGES - SECTION-->

  <section id="prodetails" class="section-p1">
    <div class="single-pro-image">
      <img src="Pictures/sneakers.1.1.jpeg" width="100%" id="MainImg" alt="">
      <div class="small-img-group">
      </div>
    </div>

    <!--NASLOV AND DESCRIPTION AND BUTTONS-->

    <div class="single-pro-details">
      <h6>NIKE</h6>
      <h4> <!--MODEL PATIKA--> </h4>
      <h3> <!--CIJENA--> </h3>

      <div class="odvoji">
        <button class="normal add-to-cart">Add to cart</button>
      </div>
      <h4>Product Details</h4>
      <span>
        <!--OVO OVDJE JE MJESTO ZA Paragraf - description-->
      </span>
    </div>
  </section>
</body>

</html>